<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>dts-scheduler-server</display-name>

    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/classes/log4j.properties</param-value>
    </context-param>
    <context-param>
        <param-name>log4jRefreshInterval</param-name>
        <param-value>300000</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:appContext-scheduler.xml</param-value>
    </context-param>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <!-- filters -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.mh.dts.common.http.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>responseEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>isSetContentType</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <!--<filter>
        <filter-name>authenticationFilter</filter-name>
        <filter-class>org.mh.dts.common.http.filter.AuthenticationFilter</filter-class>
        <init-param>
            <param-name>apiAuthenticatorBeanName</param-name>
            <param-value>defaultAuthenticator</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>authenticationFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>-->

    <!-- servlets -->
    <servlet>
        <servlet-name>taskScheduleServlet</servlet-name>
        <servlet-class>org.mh.dts.common.http.servlet.DelegateServletProxy</servlet-class>
        <init-param>
            <param-name>apiHandlerBeanName</param-name>
            <param-value>taskScheduleApiHandler</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>taskScheduleServlet</servlet-name>
        <url-pattern>/taskSchedule.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>quartzSchedulerManageServlet</servlet-name>
        <servlet-class>org.mh.dts.common.http.servlet.DelegateServletProxy</servlet-class>
        <init-param>
            <param-name>apiHandlerBeanName</param-name>
            <param-value>quartzSchedulerManageApiHandler</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>quartzSchedulerManageServlet</servlet-name>
        <url-pattern>/quartzSchedulerManage.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>quartzJobManageServlet</servlet-name>
        <servlet-class>org.mh.dts.common.http.servlet.DelegateServletProxy</servlet-class>
        <init-param>
            <param-name>apiHandlerBeanName</param-name>
            <param-value>quartzJobManageApiHandler</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>quartzJobManageServlet</servlet-name>
        <url-pattern>/quartzJobManage.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>quartzTriggerManageServlet</servlet-name>
        <servlet-class>org.mh.dts.common.http.servlet.DelegateServletProxy</servlet-class>
        <init-param>
            <param-name>apiHandlerBeanName</param-name>
            <param-value>quartzTriggerManageApiHandler</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>quartzTriggerManageServlet</servlet-name>
        <url-pattern>/quartzTriggerManage.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>taskProxyCallbackServlet</servlet-name>
        <servlet-class>org.mh.dts.common.http.servlet.DelegateServletProxy</servlet-class>
        <init-param>
            <param-name>apiHandlerBeanName</param-name>
            <param-value>taskProxyCallbackApiHandler</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>taskProxyCallbackServlet</servlet-name>
        <url-pattern>/taskProxyCallback.do</url-pattern>
    </servlet-mapping>


    <!-- Error Page -->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/WEB-INF/error/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/error/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/error/403.jsp</location>
    </error-page>

</web-app>
